<%- include("../adminHeader")  %>
      <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="admin">Trang Chủ</a></li>
                            <li class="breadcrumb-item"><a href="admin/category">Danh Mục Sản Phẩm</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thêm danh mục sản phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
      </div>
      <br>
      <div class="container-fluid">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title m-b-0">Thêm danh mục sản phẩm</h4>
            <form class="form-group m-t-20" id="form_input">
              <div class="row">
                <div class="col-lg-6">
                  <label>Tên danh mục <small class="text-muted text-red"><strong style="color:red">(*)</strong></small></label>
                  <input name="c_name" type="text" class="form-control" id="input-name" placeholder="Nhập tên danh mục..." required>
                  <br>
                </div>
                <div class="col-lg-6">
                  <label>Nhóm danh mục<small class="text-muted text-red"><strong style="color:red">(*)</strong></small></label>
                  <select class="form-control" id="Select1" name="c_parent">
                    <option value="0" class="selected" style="color:#dad4d4">Chọn nhóm danh mục phù hợp...</option>
              <% if (typeof groups != "undefined"){ %>
                <% if (groups.length != 0){ %>
                  <% groups.forEach(group =>{ %>
                    <option value="<%= group._id %>__<%= group.gc_name %>"><%= group.gc_name %></option>
                  <% }) %>
                <% } %>
              <% } %>
                  </select>                
                </div>
              </div>
              <a href="admin/category" class="btn btn-info text-white "><i class="fa fa-angle-left"></i> quay lại</a>
              <button type="submit" class="btn btn-success text-white "><i class="fa fa-check"></i> Lưu</button>
            </form>
            <div id="mgs"></div>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="admin_template/js/customPages/jqueryAddCategory.js"></script>
<%- include("../adminFooter") %>