<%- include("../adminHeader")  %>
      <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="admin">Trang Chủ</a></li>
                            <li class="breadcrumb-item"><a href="admin/category">Danh Mục Sản Phẩm</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sửa danh mục sản phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
      </div>
      <div class="container-fluid">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title m-b-0">Sửa danh mục sản phẩm</h4>
            <form class="form-group m-t-20" id="form_input">
              <div class="row">
                <div class="col-lg-6">
                  <label>Tên danh mục <small class="text-muted text-red"><strong style="color:red">(*)</strong></small></label>
                  <input name="c_name" type="text" class="form-control" id="input-name" value="<%= category.c_name %>" required>
                  <input name="_id" value="<%= category._id %>" id="input-id" type="hidden">
                </div>
                <div class="col-lg-6">
                  <label>Cấp danh mục<small class="text-muted text-red"><strong style="color:red">(*)</strong></small></label>
                  <select class="form-control" id="c_level" name="c_level">
              <% if (typeof maxLevelCategory != "undefined"){ %>
                  <% maxLevelCategory = maxLevelCategory + 1 %>
                  <% for (let i = 0; i < maxLevelCategory; i++) {%>
                    <% if (category.c_level == (i+1)) {%>
                      <option value="<%= i+1 %>" selected> Level <%= i+1 %></option>
                    <% } else {%>
                      <option value="<%= i+1 %>"> Level <%= i+1 %></option>
                    <% } %>
                  <% } %>
              <% } %>
                  </select>                
                </div>
                <% if (category.c_parentId == '0'){ %>
                <div class="col-lg-6" id="blockSelectC_parentId" style="visibility: hidden; display:none">
                <% } else {%>
                <div class="col-lg-6" id="blockSelectC_parentId">
                <% } %>
                  <br>
                  <label>Danh mục cha<small class="text-muted text-red"><strong style="color:red">(*)</strong></small></label>
                  <select class="form-control" id="c_parentId" name="c_parentId" >
                    <% if (typeof c_parents != "undefined") {%>
                      <% c_parents.forEach(c_parent => { %>
                        <% if (c_parent._id == category.c_parentId) {%>
                        <option value="<%= c_parent._id %>" selected><%= c_parent.c_name %></option>
                        <% } else {%>
                        <option value="<%= c_parent._id %>"><%= c_parent.c_name %></option>
                        <% } %>
                      <% }) %>
                    <% } %>
                  </select>             
                </div>
              </div>
              <br>
              <a href="admin/category" class="btn btn-info text-white "><i class="fa fa-angle-left"></i> quay lại</a>
              <button type="submit" class="btn btn-success text-white "><i class="fa fa-check"></i> Lưu</button>
            </form>
            <div id="mgs"></div>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="admin_template/js/customPages/category/jqueryEditCategory.js"></script>
<%- include("../adminFooter") %>