<%- include("../adminHeader")  %>

<% if (notification.length != 0) {%>
<%   if (notification[0].type)  {%>
<script>
  toastr.options = {
    "timeOut": "2500",
    "positionClass": "toast-bottom-right",
  }
  toastr.success('<%= notification[0].message.status %>', '<%= notification[0].message.action %>');                                  
</script>
<% } else {%>
<script>
  toastr.options = {
    "timeOut": "2500",
    "positionClass": "toast-bottom-right",
  }
  toastr.error('<%= notification[0].message.status %>', '<%= notification[0].message.action %>');                                  
</script>
<% } %>
<% } %>

<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <div class="ml-auto text-right">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="admin">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Đơn Hàng</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="padding:0">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->

  <!-- Nav tabs -->
  <div class="border text-center bg-light" style="height:auto">
    <br>
    <h2>Đơn Hàng</h2>
  </div>

  <div class="card">
    <div class="card-body" style="padding:0">
      <a href="admin/order/add" class="btn btn-success" style="margin: 10px"><i class="fa fa-plus"></i> Thêm Mới</a>
      <div class="table-responsive">
        <table id="zero_config" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã Đơn Hàng</th>
              <th>Tên Khách Hàng</th>
              <th>Trạng Thái</th>
              <th>Loại Tài Khoản</th>
              <th>Số Lượng Sản Phẩm</th>
              <th>Tổng Tiền Hàng</th>
              <th>Ngày Giao Hàng</th>
              <th>Thời Gian Giao Hàng</th>
              <th>Ngày Tạo</th>
              <th style="width: auto">Tùy Chọn</th>
            </tr>
          </thead>
          <tbody>
            <% if (typeof orders != "undefined") {%>
            <% if (orders.length > 0) { %>
            <% let count = 1 %>
            <% orders.forEach(order =>{%>
            <tr>
              <td class="text-center"><%= count %></td>
              <td class="or_name text-center"><%= order._id %></td>
              <td class="text-center"><%= order.or_infoDailies.u_name %></td>
              <td>
                <div class="btn-group open">
                  <button type="button" class="btn <%= statusButton[order.or_status] %> btn-xs dropdown-toggle"
                    data-toggle="dropdown" aria-expanded="true">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <button type="button"
                    class="btn <%= statusButton[order.or_status] %> btn-xs"><%= statusOrder[order.or_status] %>
                  </button>
                  <ul class="dropdown-menu">
                    <% statusOrder.forEach((item, index) => { %>
                    <li>
                      <a id="status-<%= index %>" href= "admin/order/status/<%= index + '/id/' + order._id %>"><i class="fa fa-edit"></i> <%= item %></a>
                    </li>
                    <% }) %>
                  </ul>
                </div>
              </td>
              <td class="text-center"><%= (order.or_infoDailies._id === '0') ? 'Chưa đăng ký' : 'Đã đăng ký' %></td>
              <td class="text-center"><%= order.or_sumProduct %>(SP)</td>
              <td class="text-center"><%= order.or_sumPriceProductString %></td>
              <% let date = new Date(order.or_deliveryDate).toLocaleString() %>
              <% date = date.split(',') %>
              <td><%= date[0] %></td>
              <% let time = '' %>
              <% if (order.or_deliveryTime == 1) time = '8h -> 12h' %>
              <% if (order.or_deliveryTime == 2) time = '13h -> 17h' %>
              <% if (order.or_deliveryTime == 3) time = '17h -> 22h' %>
              <td><%= time %></td>
              <td><%= new Date(order.or_createdAt).toLocaleString() %></td>
              <td class="text-center">
                <a href="admin/order/detail/<%= order._id %>" class="btn btn-warning m-2 edit_order">
                  <i class="fas fa-eye"></i> Chi tiết</a>
              </td>
            </tr>
            <% count += 1%>
            <% }) %>
            <% } %>
            <% } %>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right sidebar -->
  <!-- ============================================================== -->
  <!-- .right-sidebar -->
  <!-- ============================================================== -->
  <!-- End Right sidebar -->
  <!-- ============================================================== -->
</div>
<div class='notifications bottom-right'></div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- <script type="text/javascript" src="admin_template/js/customPages/order/jqueryIndexorder.js"></script> -->
<%- include("../adminFooter") %>