<%- include("../adminHeader")  %>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <div class="ml-auto text-right">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="admin">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a href="admin/product">Sản Phẩm</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sửa Sản Phẩm</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="admin_template/css/customPages/product/add.css">
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title m-b-0">Thông tin sản phẩm</h3>
      <!-- thêm form ơ đây -->
      <form class="form-group m-t-20" action="" id="formInput" enctype="multipart/form-data" method="POST" action="">
        <fieldset>
          <input type="hidden" id="a_id" name="a_id" value="<%= adminInfo._id %>">
          <input type="hidden" id="_id" name="_id" value="<%= product._id %>">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="tensanpham">Tên Sản Phẩm </label>
                <input type="text" class="form-control" name="pr_name" value="<%= product.pr_name %>">
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tensanpham">Giá </label>
                    <input id="pr_price" type="number" class="form-control" name="pr_price"
                      value="<%= product.pr_price %>">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tensanpham">Giảm Giá (%) </label>
                    <input name="pr_discount" type="number" class="form-control" id="pr_discount" placeholder=""
                      value="<%= product.pr_discount %>">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tensanpham">Giá trị</label>
                    <input type="number" class="form-control" name="pr_value" value="<%= product.pr_capacity.value %>">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tensanpham"> Đơn Vị </label>
                    <select class="custom-select mr-sm-2" id="pr_unit" name="pr_unit">
                      <option value="0" selected>Chọn đơn vị phù hợp...</option>
                      <% units.forEach((unit) => { %>
                      <% if(unit == product.pr_capacity.unit){ %>
                      <option value="<%= product.pr_capacity.unit %>" selected><%= product.pr_capacity.unit %></option>
                      <% } else { %>
                      <option value="<%= unit %>"><%= unit %></option>
                      <% } %>
                      <% }) %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tensanpham">Danh Mục </label>
                    <select class="custom-select mr-sm-2" id="c_id" name="c_id">
                      <% if (typeof categories != "undefined"){ %>
                      <% for (let i = 0; i < categories.length; i++) {%>
                      <% if (product.c_id === categories[i]._id) {%>
                      <option value="<%= categories[i]._id %>" selected> <%= categories[i].c_name %></option>
                      <% } else {%>
                      <option value="<%= categories[i]._id %>"> <%= categories[i].c_name %></option>
                      <% } %>
                      <% } %>
                      <% } %>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tensanpham">Thương Hiệu </label>
                    <select class="custom-select mr-sm-2" id="br_id" name="br_id">
                      <% if (typeof brandList != "undefined"){ %>
                      <% for (let i = 0; i < brandList.length; i++) {%>
                      <% if(product.br_id === brandList[i]._id) {%>
                      <option value="<%= brandList[i]._id %>" selected> <%= brandList[i].br_name %></option>
                      <% } else {%>
                      <option value="<%= brandList[i]._id %>"> <%= brandList[i].br_name %></option>
                      <% } %>
                      <% } %>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="">Xuất xứ </label>
                    <input type="text" class="form-control" name="pr_origin" value="<%= product.pr_origin %>">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="">Số lượng </label>
                    <input type="number" class="form-control" name="pr_amount" value="<%= product.pr_amount %>">
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label for="exampleFormControlTextarea1">Mô tả</label>
                <textarea class="form-control" name="pr_description" rows="3"><%= product.pr_description %></textarea>
              </div>
              <h3 class="card-title m-b-1">SEO</h3>
              <div class="form-group">
                <label for="key">Tiêu đề </label>
                <input type="text" class="form-control" id="pr_title" name="pr_title"
                  value="<%= product.pr_SEO.title %>">
              </div>
              <div class="form-group">
                <label for="key">Từ Khóa </label>
                <input type="text" class="form-control" id="pr_key" name="pr_key" value="<%= product.pr_SEO.key %>">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Mô tả</label>
                <textarea class="form-control" name="pr_descriptionSeo"
                  rows="3"><%= product.pr_SEO.description %></textarea>
              </div>
              <div class="box-header with-border">
                <!-- <h3 class="box-title">Album ảnh</h3> -->
                <h3 class="card-title m-b-1">Album ảnh</h3>
              </div>
              <% if (listAlbumImage.length > 0) {%>
              <div class="row" style="margin-bottom: 30px;">
                <% listAlbumImage.forEach(image => { %>
                <div class="col-sm-4">
                  <div class="card-body border border-dark">
                    <img class="" src="<%= SECURE_DELIVERY_URL + image.public_id %>" alt="<%= image.filesName  %>"
                      width="168" height="auto">
                    <div class="text-center" style="margin-top: 10px;">
                      <a class="deleteImage" href="admin/product/deleteImage/<%= image._id %>"><i
                          class="far fa-trash-alt" style="margin-right: 15px;"></i></a>
                      <a href="<%= SECURE_DELIVERY_URL + image.public_id %>"><i class="fas fa-eye"></i></a>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
              <%} else {%>
              <div>
                <strong>Không có ảnh...</strong>
              </div>
              <% } %>

              <div class="box-header with-border">
                <!-- <h3 class="box-title">Album ảnh</h3> -->
                <h3 class="card-title m-b-1">Thêm ảnh mới</h3>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <div class="">
                    <input id="images" type="file" name="pr_listImage" multiple class="file"
                      data-overwrite-initial="false" data-min-file-count="0">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 ">
              <div class="box box-warning">
                <h6>Ảnh đại diện</h6>
                <div class="text-center">
                  <img src="<%= SECURE_DELIVERY_URL + product.pr_avatar %>" alt="product image"
                    class="image-preview border border-dark" width="260px" height="200px">
                </div>
                <div class="text-center">Ảnh</div>
                <div>
                  <div class="custom-file">
                    <input type="file" name="pr_avatar" class="custom-file-input form-control" id="fileImageProduct"
                      accept=".png, .jpg, jpeg, .PNG, JPG, JPEG">
                    <label class="custom-file-label text-left" for="validatedCustomFile"
                      style="word-wrap: break-word">Chọn File Ảnh...</label>
                    <div class="feedback" style="color:red"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <a href="admin/product" class="btn btn-info text-white "><i class="fa fa-angle-left"></i> quay lại</a>
              <button id="submit" type="submit" class="btn btn-success text-white "><i class="fa fa-check"></i>
                Lưu</button>
            </div>
            <div class="col-sm-12 mt-2">
              <div id='mgs'></div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fas/theme.min.js"></script>
<script type="text/javascript"
  src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

<script type="text/javascript" src="admin_template/js/customPages/product/jqueryEditProduct.js"></script>
<%- include("../adminFooter") %>