<%- include("adminHeader") %>
<link rel="stylesheet" type="text/css" href="admin_template/css/customPages/adminInfo.css">

<div class="container-fluid mainWhite">
      <h2 class="text-center">Thông tin của tôi</h2>
      <hr>
  <form id="formInput" class="form-horizontal" role="form" enctype="multipart/form-data" method="POST">
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
          <div class="text-center">
            <img id='image-preview' src="<%= adminInfo.ad_avatar %>" class="avatar rounded-circle" alt="avatar" width="150" height="160">
            <h6 class="hidden">Tải ảnh đại diện khác</h6>
            <input disabled type="file" class="form-control marginTop" name="ad_avatar">
          </div>
        </div>
        
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
          <!-- <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-coffee"></i>
            This is an <strong>.alert</strong>. Use this to show important messages to the user.
          </div> -->
          <h3>Thông tin cá nhân</h3>
            <div class="form-group">
              <label class="col-lg-3 control-label">Tên:</label>
              <div class="col-lg-9">
                <input name='ad_name' disabled class="form-control" type="text" value="<%= adminInfo.ad_name %>">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Số điện thoại:</label>
              <div class="col-lg-9">
                <input name='ad_phoneNumber' disabled class="form-control" type="text" value="<%= adminInfo.ad_phoneNumber %>">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Email:</label>
              <div class="col-lg-9">
                <input name='ad_email' disabled class="form-control" type="text" value="<%= adminInfo.ad_email %>">
              </div>
            </div>
            <!-- <div class="form-group">
              <label class="col-lg-3 control-label">Time Zone:</label>
              <div class="col-lg-9">
                <div class="ui-select">
                  <select id="user_time_zone" class="form-control">
                    <option value="Hawaii">(GMT-10:00) Hawaii</option>
                    <option value="Alaska">(GMT-09:00) Alaska</option>
                    <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                    <option value="Arizona">(GMT-07:00) Arizona</option>
                    <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                    <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                    <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                    <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                  </select>
                </div>
              </div>
            </div> -->
            <h3>Thông tin đăng nhập</h3>
            <div class="form-group" action="#" method="post">
              <label class="col-md-3 control-label">Tên đăng nhập:</label>
              <div class="col-md-9">
                <input name='ad_userName' disabled class="form-control" type="text" value="<%= adminInfo.ad_userName %>" >
              </div>
            </div>
            <div class="form-group">
              <label id="currentPWLabel" class="col-md-3 control-label">mật khẩu:</label>
              <div class="col-md-9">
                <input name="ad_currentPW" disabled class="form-control PW" type="password" value="00000000">
              </div>
            </div>
            <div class="form-group hidden">
              <label id="" class="col-md-3 control-label">mật khẩu mới:</label>
              <div class="col-md-9">
                <input id="ad_password" name="ad_password" disabled class="form-control" type="password" value="">
              </div>
            </div>
            <div class="form-group hidden">
              <label class="col-md-3 control-label">Nhập lại mật khẩu:</label>
              <div class="col-md-9">
                <input name="confirmPassword" class="form-control" type="password" value="">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9 marginTop"  id="notifications"></div>
              <div class="col-md-9 marginTop">
                  <button onclick="window.location.href='http://localhost:3000/admin';" id='btnReturn' type="button" class="btn btn-primary"><i class="fas fa-chevron-left"></i> Trang Chủ</button>
                  <button id='btnEdit' type="button" class="btn btn-warning"><i class="fas fa-edit"></i> Chỉnh Sửa</button>
              </div>
            </div>
        </div>
    </div>
  </form>
</div>
<!-- end form content -->
<script type="text/javascript" src="admin_template/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="admin_template/libs/jquery-validation/dist/additional-methods.js"></script>
<script type="text/javascript" src="admin_template/js/customPages/admin/jqueryAdminInfo.js"></script>
<%- include("adminFooter") %>
