<%- include("header.ejs")  %>
<!-- breadcrumbs -->
<div class="breadcrumbs">
	<ol class="breadcrumb breadcrumb1">
			<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
			<li><%= c_name %></li>
	</ol>
</div>
<!-- Thương hiệu sản phẩm -->
<div class="manufacture top " style="" data-ismaincate="False" data-iscatesearch="True">
	<ul>
		<li>
			<a data-id="19789" data-hash="shower-mate" title="Shower Mate" href="/sua-tam-shower-mate">
				<img width="65" height="40" src="//cdn.tgdd.vn/Brand/11/shower-mate-2206202011286.jpg"
					alt="Shower Mate">
				<em></em>
				<i class="bhx-checkmanu"></i>
			</a>
		</li>
		<li>
			<a data-id="2890" data-hash="dove" title="Dove" href="/sua-tam-dove">
				<img width="65" height="40" src="//cdn.tgdd.vn/Brand/11/Dove2483-s_1.png" alt="Dove">
				<em></em>
				<i class="bhx-checkmanu"></i>
			</a>
		</li>
		<li>
			<a data-id="10256" data-hash="on-the-body" title="ON THE BODY" href="/sua-tam-on-the-body">
				<img width="65" height="40" src="//cdn.tgdd.vn/Brand/11/ON-THE-BODY2444-s_59.png" alt="ON THE BODY">
				<em></em>
				<i class="bhx-checkmanu"></i>
			</a>
		</li>
		<li>
			<a data-id="2584" data-hash="lifebuoy" title="Lifebuoy" href="/sua-tam-lifebuoy">
				<img width="65" height="40" src="//cdn.tgdd.vn/Brand/11/Lifebuoy2444-s_43.jpg" alt="Lifebuoy">
				<em></em>
				<i class="bhx-checkmanu"></i>
			</a>
		</li>
		<li>
			<a data-id="18782" data-hash="feira" title="Feira" href="/sua-tam-feira">
				<img width="65" height="40" src="//cdn.tgdd.vn/Brand/11/feira-1909201915134.png" alt="Feira">
				<em></em>
				<i class="bhx-checkmanu"></i>
			</a>
		</li>
		<li>
			<a data-id="2582" data-hash="enchanteur" title="Enchanteur" href="/sua-tam-enchanteur">
				<img width="65" height="40" src="//cdn.tgdd.vn/Brand/11/Enchanteur2444-s_19.png" alt="Enchanteur">
				<em></em>
				<i class="bhx-checkmanu"></i>
			</a>
		</li>
		<li>
			<a data-id="2845" data-hash="lux" title="Lux" href="/sua-tam-lux">
				<img width="65" height="40" src="//cdn.tgdd.vn/Brand/11/Lux2483-s_13.png" alt="Lux">
				<em></em>
				<i class="bhx-checkmanu"></i>
			</a>
		</li>
		<li>
			<a data-id="2845" data-hash="lux" title="Lux" href="/sua-tam-lux">
				<img width="65" height="40" src="//cdn.tgdd.vn/Brand/11/Lux2483-s_13.png" alt="Lux">
				<em></em>
				<i class="bhx-checkmanu"></i>
			</a>
		</li>
		<li>
			<a data-id="2584" data-hash="lifebuoy" title="Lifebuoy" href="/sua-tam-lifebuoy">
				<img width="65" height="40" src="//cdn.tgdd.vn/Brand/11/Lifebuoy2444-s_43.jpg" alt="Lifebuoy">
				<em></em>
				<i class="bhx-checkmanu"></i>
			</a>
		</li>
		<li>
			<a data-id="2584" data-hash="lifebuoy" title="Lifebuoy" href="/sua-tam-lifebuoy">
				<img width="65" height="40" src="//cdn.tgdd.vn/Brand/11/Lifebuoy2444-s_43.jpg" alt="Lifebuoy">
				<em></em>
				<i class="bhx-checkmanu"></i>
			</a>
		</li>

	</ul>
	<span class="moremanu top">Xem thêm <i class="fatm"></i></span>
</div>

<% if(typeof products != "undefined") {%>
	<% if(products.length > 0) {%>
	<h3 style="margin-top: 40px; border-left:6px solid #fe9126">Các Sản Phẩm Thuộc Danh Mục <strong><%= c_name %></strong></h3>
	<select class="selectSort">
		<option value="0" selected>Mặc định</option>
		<option value="1">Giá tăng dần</option>
		<option value="-1">Giá giảm dần</option>
	</select>
	<div class="agile_top_brands_grids">
		<div id="products">
			<% products.forEach((product) => { %>
			<div class="col-md-3 top_brand_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">
						<% if(product.pr_hot){ %>
						<div class="agile_top_brand_left_grid_pos">
							<img src="<%= SECURE_DELIVERY_URL %>c_scale,w_40/BachHoaOnline/icon/hot_fire" 
							alt="logoHot" class="img-responsive" style="position: relative; top: -10px; left: 2px;">
						</div>
						<% } %>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block text-center">
									<div class="snipcart-thumb">
										<a href="product/<%= c_slug %>/<%= product.pr_slug %>"><img title=" " alt=" "
												src="<%= SECURE_DELIVERY_URL %><%= product.pr_avatar %>" style="width: 100%"></a>
										<% if(product.pr_name.length >= 70) {%>
										<div style="min-height: 70px;">
											<p><%= product.pr_name.slice(0, 70) %>...</p>
										</div>
										<% } else {%>
										<div style="min-height: 70px;">
											<p><%= product.pr_name%></p>
										</div>
										<% } %>
										<% if(product.pr_discount > 0) {%>
										<div style="min-height: 48px;">
											<span data='<%= product.pr_price %>' class="priceSp"><%= product.pr_priceString %> </span>
											<label class="discount" style="margin-left: 6px;"> -<%= product.pr_discount %>%</label>
											<h4><%= product.pr_priceNewString %></h4>
										</div>
										<% } else {%>
										<div style="min-height: 48px;">
											<br>
											<h4><%= product.pr_priceString %></h4>
										</div>
										<% } %>
									</div>
									<div class="snipcart-details top_brand_home_details">
										<button data-id="<%= product._id %>" class="btnAddCart"> Chọn mua</button>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
		<% if(products.length >= 8) {%>
			<div class="col-md-12 top_brand_left text-center viewMoreProducts">
					<div class="view-more">
							<a class="addMoreProducts" data-count="8" href="products/viewMore/sort/0/skip/">xem thêm
									<i class="fa fa-chevron-down"></i>
							</a>
					</div>
			</div>
			<% } %>
		<div class="clearfix"> </div>
	</div>
	<hr>
	<% } %>
	<% } %>




	<script type="text/javascript" src="user-template/js/customPages/jqueryProducts.js"></script>
<%- include("footer.ejs")  %>