<%- include("header2.ejs")  %>
<!-- breadcrumbs -->
<div class="breadcrumbs">

  <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
    <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
    <li class="">Đơn hàng của tôi</li>
  </ol>
</div>
<!-- //breadcrumbs -->
<div class="row">

  <div class="col-md-3 quanlyusers ">
    <div class="wp-name-and-avatar-user row flex-nowrap">
      <!-- avatar user  -->
      <div class="avatar-user ">
        <img src="https://res.cloudinary.com/nguyenminhtri/BachHoaOnline/logo/logofnv_lhkuvw" alt="avatar user" title="avatar-user">
      </div>
      <!-- tên user  -->
      <div class="name-user">
        <span class="s-text7">Tài khoản của</span>
        <br>
        <span class="name"><%= infoUser.u_name %> </span>
      </div>
    </div>
    <div class="tab-menu nav" role="tablist" id="tablist">


      <a href="user/profile" class=" ac  || " role="tab">
        <i class="fa fa-user " aria-hidden="true"></i>
        Thông tin tài khoản
      </a>

      <a href="user/purchase" class=" ac active || " role="tab">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        Đơn hàng của tôi
      </a>


      <a href="user/logout">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Đăng xuất
      </a>
    </div>

  </div>

  <div class="col-md-9 ">
    <h3>Đơn hàng của tôi</h3>
    <div class="orderhistory">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Ngày mua </th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Trạng thái đơn hàng</th>
          </tr>
        </thead>
        <tbody>
          <% if(order.length > 0) {%>
            <% order.forEach(function(orderItem) {%>
              <tr>
                <th cope="row"><a href="user/purchase/view/<%= orderItem._id %>"><%= orderItem._id  %></a></th>
                <td><%= new Date(orderItem.or_createdAt).toLocaleString() %></td>
                <% if(orderItem.or_products.length == 1) {%>
                  <td><%= orderItem.or_products[0].pr_name %></td>
                <% } else {%>
                  <% if(orderItem.or_products[0].pr_name.length > 30) {%>
                    <td><%= orderItem.or_products[0].pr_name.slice(0, 30) %>... và <%= orderItem.or_products.length - 1 %> sản phẩm khác </td>
                  <% } else {%>
                    <td><%= orderItem.or_products[0].pr_name %> và <%= orderItem.or_products.length - 1 %> sản phẩm khác </td>
                  <% } %>
                <% } %>
                <td><%= orderItem.or_totalPayString %></td>
                <td><%= statusOrder[orderItem.or_status] %></td>
              </tr>
              <% })  %>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript" src="user-template/js/customPages/jqueryactive.js"></script>
<script type="text/javascript" src="user-template/js/customPages/jqueryPurchase.js"></script>


<%- include("footer2.ejs")  %>