<%- include("header.ejs")  %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- breadcrumbs -->
<!-- <div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="">Chi tiết sản phẩm</li>
        </ol>
    </div>
</div> -->
<div class="breadcrumbs">
    <ol class="breadcrumb breadcrumb1">
        <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
        <li>Chi tiết sản phẩm</li>
    </ol>
</div>
<!-- //breadcrumbs -->
<div class="card" style="background-color:#fff;">
    <!-- <div class="container"> -->
    <div class="row">
        <aside class="col-sm-5 border-right">
            <div class="mySlides">
                <div class="numbertext"> 1 / <%= album.length + 1 %></div>
                <img src="<%= SECURE_DELIVERY_URL + product.pr_avatar %>" style="width:100% ;padding: 5px 22px;">
            </div>
            <% if(album.length > 0) {%>
            <% album.forEach(function(item, index){ %>
            <div class="mySlides">
                <div class="numbertext"><%= index + 2 %> / <%= album.length + 1 %></div>
                <img src="<%= SECURE_DELIVERY_URL + item.public_id %>" style="width:100%; padding: 5px 22px;">
            </div>
            <% }) %>
            <% } %>
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
            <div class="caption-container">
                <p id="caption"></p>
            </div>
            <div class="row" style="margin-left: 2px;">
                <div class="column1">
                    <img class="demo cursor" src="<%= SECURE_DELIVERY_URL + product.pr_avatar %>" style="width:100%;"
                        onclick="currentSlide(1)">
                </div>
                <% if(album.length > 0) {%>
                <% album.forEach(function(item, index){ %>
                <div class="column1">
                    <img class="demo cursor" src="<%= SECURE_DELIVERY_URL + item.public_id %>" style="width:100%"
                        onclick="currentSlide(<%= index + 2 %>)">
                </div>
                <% }) %>
                <% } %>
            </div>
        </aside>
        <aside class="col-sm-7">
            <article class="card-body p-5">
                <h3 class="title mb-3"><%= product.pr_name %></h3>

                <p class="price-detail-wrap">
                <div class="boxprice">
                    <% if(product.pr_discount > 0) {%>
                    <strong><%= product.pr_priceNewString %></strong>
                    <span class="strike"><%= product.pr_priceString %></span>
                    <label>-<%= product.pr_discount%> %</label>
                    <% } else {%>
                    <strong>30.000đ</strong>
                    <% } %>

                </div>
                </p> <!-- price-detail-wrap .// -->
                <dl class="item-property">
                    <ul class="thongtinsanpham">
                        <li><span>Thương hiệu</span>
                            <div><%= brand.br_name %></div>
                        </li>
                        <li><span>Thể tích/Khối lượng...</span>
                            <div><%= product.pr_capacity.value %> <%= product.pr_capacity.unit %></div>
                        </li>
                        <li><span>Sản Xuất tại</span>
                            <div><%= product.pr_origin %></div>
                        </li>
                        <li><span>Mô tả</span>
                            <p><%= product.pr_description %></p>
                        </li>

                    </ul>
                </dl>



                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="">
                                <p style="font-size:15px ; font-family: 'Raleway', sans-serif;color:#333;">Số lượng
                                </p>
                            </label>
                            <input min="1" type="number" class="form-control" id="numberOfProduct" value="1"
                                style="width:70px;">
                        </div>
                    </div> <!-- col.// -->
                    <div class="col-sm-5">
                        <dl class="param param-inline">
                            <i class="fa fa-star blue-star" aria-hidden="true"></i>
                            <i class="fa fa-star blue-star" aria-hidden="true"></i>
                            <i class="fa fa-star blue-star" aria-hidden="true"></i>
                            <i class="fa fa-star blue-star" aria-hidden="true"></i>
                            <i class="fa fa-star gray-star" aria-hidden="true"></i>
                        </dl> <!-- item-property .// -->
                    </div>
                    <div class="col-sm-5">
                        <div class="fb-like" data-href="<%= infoLikeShareFacebook.url %>" data-width=""
                            data-layout="button_count" data-action="like" data-size="small" data-share="false">
                        </div>
                        <div class="fb-share-button" data-href="<%= infoLikeShareFacebook.url %>"
                            data-layout="button_count" data-size="small">
                        </div>
                    </div>
                </div> <!-- row.// -->

                <button style="margin-bottom: 10px;width:98%;" data-id="<%= product._id %>"
                    class="btn btn-lg btn-primary text-uppercase btnAddCartDetail"> Chọn mua</button>
            </article> <!-- card-body.// -->
        </aside> <!-- col.// -->
    </div>
    <!-- </div> -->
    <!-- row.// -->
</div> <!-- card.// -->


<!-- Đánh giá người dùng -->


<!-- <div class="card">
    <div class="danhgianguoidung">
        <span class="heading">Đánh Giá</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>4.1★ Trong 254 đánh giá.</p>
        <hr style="border:3px solid #f1f1f1">

        <div class="row">
            <div class="col-sm-8">
                <div class="side">
                    <div>5★</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-5"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>150</div>
                </div>
                <div class="side">
                    <div>4★</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-4"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>63</div>
                </div>
                <div class="side">
                    <div>3★</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-3"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>15</div>
                </div>
                <div class="side">
                    <div>2★</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-2"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>6</div>
                </div>
                <div class="side">
                    <div>1★</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-1"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>20</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bootstrap snippets">
        <div class=" col-sm-10">
            <div class="comment-wrapper">
                <div class="panel panel-info" style="width: 121%;">
                    <div class="panel-heading">
                        Đánh Giá Người Dùng
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                        <br>
                        <button type="button" class="btn btn-info pull-right">Gửi Đánh Giá</button>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">Vân Nhi </strong>
                                    <p style="color: black;">
                                        mình ghiền pepsi lắm luôn, uống hoài, đang sợ bị tiểu đường.huhu
                                    </p>
                                    <a style="color:#588bcd; display: inline-block;" href="#">1 Trả lời</a>
                                    <span class="com-dot"> • </span>
                                    <a style="color:#588bcd; display: inline-block;" href="#"><i
                                            class="fa fa-thumbs-up"></i>0 Thích</a>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">Cẩm Tiên</strong>
                                    <p style="color: black;">
                                        mình thấy vị pepsi với coca nào rất giống nhau, đều ngon cả
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">Lê Phương Thảo</strong>
                                    <p style="color: black;">
                                        Sao cửa hàng k giao hàng ở long an vậy buồn ghê
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<!-- Hết đánh giá người dùng -->


<!-- new -->
<% if(typeof productFamily != "undefined") {%>
<% if(productFamily.length > 0) {%>
<h3 style="margin-top: 40px; border-left:6px solid #fe9126">Các Sản Phẩm Cùng Loại</h3>
<div class="agile_top_brands_grids">
    <div id="productFamily">
        <% productFamily.forEach((_product) => { %>
        <div class="col-md-3 top_brand_left">
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                    <% if(_product.pr_hot) {%>
                    <div class="agile_top_brand_left_grid_pos">
                        <img src="<%= SECURE_DELIVERY_URL %>c_scale,w_40/BachHoaOnline/icon/hot_fire" alt="logoHot"
                            class="img-responsive" style="position: relative; top: -10px; left: 2px;">
                    </div>
                    <% } %>
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block text-center">
                                <div class="snipcart-thumb">
                                    <a href="product/<%= _product.pr_slug %>"><img title=" " alt=" "
                                            src="<%= SECURE_DELIVERY_URL %><%= _product.pr_avatar %>"
                                            style="width: 100%"></a>
                                    <% if(_product.pr_name.length >= 70) {%>
                                    <div style="min-height: 70px;">
                                        <p><%= _product.pr_name.slice(0, 70) %>...</p>
                                    </div>
                                    <% } else {%>
                                    <div style="min-height: 70px;">
                                        <p><%= _product.pr_name%></p>
                                    </div>
                                    <% } %>
                                    <% if(_product.pr_discount > 0) {%>
                                    <div style="min-height: 48px;">
                                        <span data='<%= _product.pr_price %>'
                                            class="priceSp"><%= _product.pr_priceString %> </span>
                                        <label class="discount" style="margin-left: 6px;">
                                            -<%= _product.pr_discount %>%</label>
                                        <h4><%= _product.pr_priceNewString %></h4>
                                    </div>
                                    <% } else {%>
                                    <div style="min-height: 48px;">
                                        <br>
                                        <h4><%= _product.pr_priceString %></h4>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="snipcart-details top_brand_home_details">
                                    <button data-id="<%= _product._id %>" class="btnAddCart"> Chọn mua</button>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div class="clearfix"> </div>
</div>
<hr>
<% } %>
<% } %>

<script type="text/javascript" src="user-template/js/customPages/jquerysingle.js"></script>

<%- include("footer.ejs")  %>